html
  head 
    title GridGL
  body
    canvas(id="glcanvas") Your browser does not suppport the canvas element.
    script(src="assets/lib/jquery/dist/jquery.min.js")
    script(src="assets/lib/sylvester/sylvester.js")
    script(src="assets/lib/glUtils.js")
    script(src="assets/index.js")
