html
  head 
    title grid
    link(rel="shortcut icon" href="assets/images/favicon.png")

    link(rel="stylesheet" href="assets/lib/html5-boilerplate/dist/css/normalize.css")
    link(rel="stylesheet" href="assets/lib/html5-boilerplate/dist/css/main.css")
    link(rel="stylesheet" href="assets/index.css")
  body
    canvas(id="glcanvas") Your browser does not suppport the canvas element.
    #framerate 60
    select#show-select
    button.fullscreen Fullscreen
    script(src="assets/lib/jquery/dist/jquery.min.js")
    script(src="assets/lib/sylvester/sylvester.js")
    script(src="assets/lib/glUtils.js")
    script(src="assets/lib/lodash/lodash.min.js")
    script(src="assets/index.js")
